<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Senai</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body id="fundohome">
    <div id="direito"><p></p></div>
 
    <img id="trabalhador" src="static/trabalhador.jpg" alt="trabalhador">
     <img id="azul" src="static/azul.png" alt="azul">
     <img id="senaicanto" src="static/senaicanto.png" alt="senaicanto">
 
    <div class="container">
        <br>
 
        <div id="titulohome">
            <h1></h1>
        </div>
 
        <div class="opcoes">
 
           <div class="opcoes">

    
    <a class="botao" id= "devolucao" href="devolucao_retirada.html">
         Registrar Retirada/Devolução
    </a>

    <a class="botao" id= "itens" href="estoque.html">
         Estoque Geral
    </a>

    <a class="botao" id= "historico" href="historico.html">
         Histórico
         Estoque
    </a>

</div>
 
        </div>
    </div>
 
</body>
</html>
 